<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>
    <link rel="stylesheet" href="frontend/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--<div class="main" id="app">
        <div class="header">
            <h1>Contact List</h1>
            <div class="addSaveBtns" id="addSaveBtns">
                <div class="add" id="addBtn" v-bind:title="titleAdd">
                    <a @click="formOn()" href="#">{{messageAdd}}</a>
                </div>
            </div>
        </div>
        <template v-if="status == 1">
            <div class="edit-contact">
                <label for="submit">
                    <button class="save" @click="formOff()">
                        Save
                    </button>
                </label>
                <div class="contact-img">
                    img
                    <img src="#" alt="">
                </div>
                <div class="contact-form">
                    <form action="../index.php">
                        <h3>Contact name:</h3>
                        <input type="text">
                        <h3>Phone:</h3>
                        <input type="text">
                    </form>
                    <input  type="submit" id="submit">
                </div>
            </div>
        </template>
        <template v-if="status == 0">
            <div class="contact">
                <div class="contact-img">
                    img
                    <img src="#" alt="">
                </div>
                <div class="contact-info">
                    <h3>Contact name</h3>
                    <h3>+380000000000</h3>
                </div>
                <div class="delete">
                    <a href="#">Delete</a>
                </div>
                <button @click="formOn()" class="edit">
                   Edit
                </button>
            </div>
        </template>
        <template v-elseif="status == 1">
            <div class="edit-contact">
                <label for="submit">
                    <button class="save" @click="formOff()">
                        Save
                    </button>
                </label>
                <div class="contact-img">
                    img
                    <img src="#" alt="">
                </div>
                <div class="contact-form">
                    <form action="../index.php">
                        <h3>Contact name:</h3>
                        <input type="text">
                        <h3>Phone:</h3>
                        <input type="text">
                    </form>
                    <input  type="submit" id="submit">
                </div>
            </div>
        </template>
        <template v-if="status == 0">
            <div class="contact">
                <div class="contact-img">
                    img
                    <img src="#" alt="">
                </div>
                <div class="contact-info">
                    <h3>Contact name</h3>
                    <h3>+380000000000</h3>
                </div>
                <div class="delete">
                    <a href="#">Delete</a>
                </div>
                <button @click="formOn()" class="edit">
                    Edit
                </button>
            </div>
        </template>
    </div>-->
<!--    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                messageAdd: 'Add',
                messageSave: 'Save',
                titleAdd: 'Add new contact',
                titleSave: 'Save new contact',
                status: 0
            },
            methods: {
                formOn: function () {
                    this.status = 1;
                },
                formOff: function () {
                    this.status = 0;
                }
            }
        })
    </script>-->
</body>
</html>